table {
  width: 100%;
  border: 4px #ccc;
  border-collapse: collapse;
}

th {
  text-align: center;
  background: #ccc;
  padding: 5px;
  border: 1px solid #7f7f7f;
}

td {
  padding: 5px;
  border: 1px solid #ccc;
}