<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Money-Manager</title>
</head>
<body>
<h3>Money-Manager</h3>
Страница авторизованного пользователя
<div>id = <span th:text="${user.id}">-</span></div>
<div>name = <span th:text="${user.name}">-</span></div>
<div>picture = <img alt="no picture" th:src="${user.picture}"/></div>
<div>email = <span th:text="${user.email}">-</span></div>
<div>locale = <span th:text="${user.locale}">-</span></div>
</body>
</html>
